<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.im97mori.ble.sample.lolipop">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvertisingDataSampleActivity"
            android:label="@string/label_advertising"
            android:permission="" />
        <activity
            android:name=".PeripheralSampleActivity"
            android:label="@string/label_peripheral" />
        <activity
            android:name=".CentralSampleActivity"
            android:label="@string/label_central" />
        <!--        <activity
                    android:name=".DisPeripheralSampleActivity"
                    android:label="@string/label_dis_peripheral" />
                <activity
                    android:name=".DisCentralSampleActivity"
                    android:label="@string/label_dis_central" />-->
        <!--        <activity
                    android:name=".BasPeripheralSampleActivity"
                    android:label="@string/label_bas_peripheral" />
                <activity
                    android:name=".BasCentralSampleActivity"
                    android:label="@string/label_bas_central" />-->
        <!--        <activity
                    android:name=".BlsPeripheralSampleActivity"
                    android:label="@string/label_bls_peripheral" />
                <activity
                    android:name=".BlsCentralSampleActivity"
                    android:label="@string/label_bls_central" />-->
        <activity
            android:name=".blp.BlpPeripheralSampleActivity"
            android:label="@string/label_blp_peripheral" />
        <activity
            android:name=".blp.BlpCentralSampleActivity"
            android:label="@string/label_blp_central" />
        <activity
            android:name=".lnp.LnpPeripheralSampleActivity"
            android:label="@string/label_lnp_peripheral" />
        <activity
            android:name=".lnp.LnpCentralSampleActivity"
            android:label="@string/label_lnp_central" />
        <activity
            android:name=".fmp.FmpPeripheralSampleActivity"
            android:label="@string/label_fmp_peripheral" />
        <activity
            android:name=".fmp.FmpCentralSampleActivity"
            android:label="@string/label_fmp_central" />
        <activity
            android:name=".pxp.PxpPeripheralSampleActivity"
            android:label="@string/label_pxp_peripheral" />
        <activity
            android:name=".pxp.PxpCentralSampleActivity"
            android:label="@string/label_pxp_central" />
        <activity
            android:name=".hrp.HrpPeripheralSampleActivity"
            android:label="@string/label_hrp_peripheral" />
        <activity
            android:name=".hrp.HrpCentralSampleActivity"
            android:label="@string/label_hrp_central" />
        <activity
            android:name=".htp.HtpPeripheralSampleActivity"
            android:label="@string/label_htp_peripheral" />
        <activity
            android:name=".htp.HtpCentralSampleActivity"
            android:label="@string/label_htp_central" />
        <activity
            android:name=".wsp.WspPeripheralSampleActivity"
            android:label="@string/label_wsp_peripheral" />
        <activity
            android:name=".wsp.WspCentralSampleActivity"
            android:label="@string/label_wsp_central" />
        <activity
            android:name=".aiop.AiopPeripheralSampleActivity"
            android:label="@string/label_aiop_peripheral" />
        <activity
            android:name=".aiop.AiopCentralSampleActivity"
            android:label="@string/label_aiop_central" />
        <activity
            android:name=".anp.AnpPeripheralSampleActivity"
            android:label="@string/label_anp_peripheral" />
        <activity
            android:name=".anp.AnpCentralSampleActivity"
            android:label="@string/label_anp_central" />
        <activity
            android:name=".tip.TipPeripheralSampleActivity"
            android:label="@string/label_tip_peripheral" />
        <activity
            android:name=".tip.TipCentralSampleActivity"
            android:label="@string/label_tip_central" />
        <activity
            android:name=".cpp.CppPeripheralSampleActivity"
            android:label="@string/label_cpp_peripheral" />
        <activity
            android:name=".cpp.CppCentralSampleActivity"
            android:label="@string/label_cpp_central" />
        <activity
            android:name=".cscp.CscpPeripheralSampleActivity"
            android:label="@string/label_cscp_peripheral" />
        <activity
            android:name=".cscp.CscpCentralSampleActivity"
            android:label="@string/label_cscp_central" />
        <activity
            android:name=".rscp.RscpPeripheralSampleActivity"
            android:label="@string/label_rscp_peripheral" />
        <activity
            android:name=".rscp.RscpCentralSampleActivity"
            android:label="@string/label_rscp_central" />
        <activity
            android:name=".pasp.PaspPeripheralSampleActivity"
            android:label="@string/label_pasp_peripheral" />
        <activity
            android:name=".pasp.PaspCentralSampleActivity"
            android:label="@string/label_pasp_central" />
        <activity
            android:name=".ftmp.FtmpPeripheralSampleActivity"
            android:label="@string/label_ftmp_peripheral" />
        <activity
            android:name=".ftmp.FtmpCentralSampleActivity"
            android:label="@string/label_ftmp_central" />
        <activity
            android:name=".esp.EspPeripheralSampleActivity"
            android:label="@string/label_esp_peripheral" />
        <activity
            android:name=".esp.EspCentralSampleActivity"
            android:label="@string/label_esp_central" />
        <activity
            android:name=".scpp.ScppPeripheralSampleActivity"
            android:label="@string/label_scpp_peripheral" />
        <activity
            android:name=".scpp.ScppCentralSampleActivity"
            android:label="@string/label_scpp_central" />
    </application>

</manifest>