<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.im97mori.ble.sample.lolipop">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvertisingDataSampleActivity"
            android:label="@string/label_advertising" />
        <activity
            android:name=".PeripheralSampleActivity"
            android:label="@string/label_peripheral" />
        <activity
            android:name=".CentralSampleActivity"
            android:label="@string/label_central" />
        <!--        <activity
                    android:name=".DisPeripheralSampleActivity"
                    android:label="@string/label_dis_peripheral" />
                <activity
                    android:name=".DisCentralSampleActivity"
                    android:label="@string/label_dis_central" />-->
        <!--        <activity
                    android:name=".BasPeripheralSampleActivity"
                    android:label="@string/label_bas_peripheral" />
                <activity
                    android:name=".BasCentralSampleActivity"
                    android:label="@string/label_bas_central" />-->
        <!--        <activity
                    android:name=".BlsPeripheralSampleActivity"
                    android:label="@string/label_bls_peripheral" />
                <activity
                    android:name=".BlsCentralSampleActivity"
                    android:label="@string/label_bls_central" />-->
        <activity
            android:name=".BlpPeripheralSampleActivity"
            android:label="@string/label_blp_peripheral" />
        <activity
            android:name=".BlpCentralSampleActivity"
            android:label="@string/label_blp_central" />
        <activity
            android:name=".LnpPeripheralSampleActivity"
            android:label="@string/label_lnp_peripheral" />
        <activity
            android:name=".LnpCentralSampleActivity"
            android:label="@string/label_lnp_central" />
        <activity
            android:name=".FmpPeripheralSampleActivity"
            android:label="@string/label_fmp_peripheral" />
        <activity
            android:name=".FmpCentralSampleActivity"
            android:label="@string/label_fmp_central" />
        <activity
            android:name=".PxpPeripheralSampleActivity"
            android:label="@string/label_pxp_peripheral" />
        <activity
            android:name=".PxpCentralSampleActivity"
            android:label="@string/label_pxp_central" />
        <activity
            android:name=".HrpPeripheralSampleActivity"
            android:label="@string/label_hrp_peripheral" />
        <activity
            android:name=".HrpCentralSampleActivity"
            android:label="@string/label_hrp_central" />
    </application>

</manifest>